* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background: #fefefe;
    color: #333;
    background-color: #0C1F4B;
 
}

header {
    color: #fff;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 75vh;
    background-image: url('images/dashboard.png');
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
#Welcom-paragraph{
    text-align: center;
}
#Welcom-paragraph{
    font-family: cursive;
    color: #1a1a1a;
}
#nav-menu{
    display: flex;
    flex-direction: row;
    align-self: baseline; 
    justify-self: left;
    align-items: center;
}

#nav-menu a:hover{
    border-bottom: 1px solid #0C1F4B;
    transition: ease;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1a1a1a;
    font-family: cursive;
    font-size: 1rem;
    float: left;
    margin-right: 45px;
    margin-left: 0;

}
.logo img{
    height: 5rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 3px;
    gap: 1.5rem;
    background: none;        
    color: inherit;         
    position: static;
    width: auto;    
}

.nav-links li a {
    font-size: 1.3rem;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

#mobile-menu-icon, #close-menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

#logo-and-menu{
    display: flex;
    flex-direction: row;
}

#main-container{
    background-color: #0C1F4B;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
}

#main-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    position: absolute;
    top: 50%;
}
.prayer-container, #services-container, #vision-container, #donation-container, #about-container, #event-container{
    width: 75%;
    padding: 25px;
    box-shadow: 0px 0px 3px 0.05px black;
    border-radius: 5px;
}
.container-headings{
    color: #d1e3f7;
    text-align: center;
    margin-bottom: 5px;
}

.prayer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;  
    background-color: #0f214b;
    color: #ffffff;
}


#prayer-heading{
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
}
#prayer-table-container{
    width: 55%;
    color: #ffffff;
    pad: 5px;
    align-self: right;
}
#prayer-table-container table{
    padding: 5px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    border-collapse: collapse;
}
#prayer-table-container td{
    padding: 10px;
    border-top: 1px solid #ffffff;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}


#services-container, #event-container{
    background-color: inherit;
    height: 100%;
    box-shadow: none;
}

#service-list, #event-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.service-card, .news-card, .event-card{
    background-color:#d1e3f7ea;
    box-shadow: 0px 0px 2px 0.03px rgb(3, 63, 230);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}
.event-card{
    background-color:#083f7eea;
    color: #d1e3f7;
    justify-self: center;
    padding: 7px;
}
.service-card h3, p{
    text-align: center;
}
.service-card h3{
    font-family: 'Times New Roman', Times, serif;
}

.service-card img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.card_heading_and_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card_heading_and_img img{
    width: 100%;
    box-shadow: 0px 0px 3px 0.03 black;
}

#vision-container{
    background-color: #0f214b;
    color: #ffffff;
}

#donation-container{
    background-color:#d1e3f7;
    
}

#donation-container-inner{
    display: flex;
    flex-direction: row;
}

#donation-hadith{
    text-align: left;
    width: 35%;
    padding: 5px;
    border-right: 5px solid #0f214b;

}

#zelle-info{
    width: 55%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
}

#zelle-img-div{
    height: 100px;
    align-self: center;
}

#zelle-info img{
    width: 8rem;
    object-fit: contain;
    
}

#zelle-info ul{
    align-self: center;
    margin-left: 10px;
    padding: 3px;
    list-style:circle;
}

#about-container{
    background-color: #1a1a1ab6;
    color: #ffffff;
}

#about-container-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    
}
#imam-heading, #contact{
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0.03px #fff;
    width: 45%;
    height: 175px;
    padding: 10px;
}

#imam-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imam-heading img{
    height: 75px;
    border-radius: 5%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-item i {
    font-size: 20px;
    color: #576688;
}

.contact-item p {
    font-size: 16px;
    color: #ffffff;
    margin: 0;
}

.contact-item a {
    color: #025dee;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.btn {
    background: #eec055;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 1rem;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background: #f8f8f8;
  flex-wrap: wrap;
}

.info-box {
  flex: 1 1 250px;
  margin: 1rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #0d3b26;
  color: #fff;
  width: 100%;
}

#popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #576688;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 25px;
}
#popUp-inner{
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 85%;
    background-color: #c1cce4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: auto;
    scrollbar-width: none;        
  -ms-overflow-style: none;
    padding: 25px;
}
#popUp-inner section {
      margin-bottom: 40px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
#popup-close-btn{
    font-size: 2rem;
    text-align: right;
    cursor: pointer;
}


/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #0f214b;
    color: #ffffff;
    position: absolute;
    top: 40px;
    right: 0;
    width: 200px;
  }
  #logo-and-menu{
    justify-content: space-between;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    text-align: center;
    color: #fff;
  }
  .nav-links li a{
    color: #fff;
  }
  .nav-links li:hover{
    background-color: #e22828;
  }

  #mobile-menu-icon {
    display: block;
  }

  .logo img{
    height: 4rem;
  }
  .prayer-container{
    flex-direction: column;
  }

  #prayer-heading, #prayer-table-container{
    width: 100%;
  }
  #donation-container-inner, #about-container-inner{
    flex-direction: column;
    align-items: center;
  }
  #about-container-inner div{
    height: auto;
    width: 100%;
  }
  #donation-hadith{
    width: 100%;
    border-right: none;
    border-bottom: 5px solid #0f214b;
  }
  .hero {
    height: 40vh;
  }

  .info {
    flex-direction: column;
  }
}
